In [1]:
import pandas as pd
import datetime as dt
import itertools
import collections

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
# посмотрим, что из себя представляют данные
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
691,tt0483607,30000000,22211426,Doomsday,Rhona Mitra|Bob Hoskins|Malcolm McDowell|Alexa...,Neil Marshall,Mankind has an expiration date.,A lethal virus spreads throughout the British ...,105,Action|Thriller|Science Fiction,Rogue Pictures|Intrepid Pictures|Scion Films|M...,3/14/2008,5.8,2008
817,tt0993842,30000000,63782078,Hanna,Saoirse Ronan|Eric Bana|Vicky Krieps|Cate Blan...,Joe Wright,Adapt or die.,A 16-year-old girl raised by her father to be ...,111,Action|Thriller|Adventure,Focus Features|Neunte Babelsberg Film|Focus Fe...,4/7/2011,6.5,2011
542,tt0164334,60000000,105178561,Along Came a Spider,Morgan Freeman|Monica Potter|Michael Wincott|D...,Lee Tamahori,The game is far from over.,When a teacher kidnaps a girl from a prestigio...,104,Crime|Mystery|Thriller|Action,Paramount Pictures|AZL Productions KG|David Br...,4/6/2001,5.8,2001
1390,tt0384680,20000000,12482775,The Weather Man,Nicolas Cage|Michael Caine|Hope Davis|Gemmenne...,Gore Verbinski,Dave Spritz is about to take his best shot . ....,"A Chicago weather man, separated from his wife...",101,Comedy|Drama,Paramount Pictures|Escape Artists|Kumar Mobili...,10/20/2005,5.7,2005
44,tt3622592,12000000,85512300,Paper Towns,Nat Wolff|Cara Delevingne|Halston Sage|Justice...,Jake Schreier,Get Lost. Get Found.,Quentin Jacobsen has spent a lifetime loving t...,109,Drama|Mystery|Romance,Fox 2000 Pictures,7/9/2015,6.2,2015

In [3]:
# посмотрим статистическую информацию
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
# посмотрим более детальную информацию о колонках
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [5]:
# все данные присутствуют, пустых или нулевых данных нет и это очень хорошо
# проверим, нет ли дубликатов в строках
data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year]
Index: []

In [6]:
# Дубликаты не найдены. Проверим на уникальность названий фильмов.
data['original_title'].nunique()

1887

In [7]:
# так-так. У нас 2 строчки с одинаковым названием фильма. Проверим, что это все-таки разные фильмы.
data['original_title'].value_counts()

Fantastic Four    2
The Gift          2
Aloha             1
Gangster Squad    1
Dark Blue         1
                 ..
Trainwreck        1
Bad News Bears    1
Dhoom 2           1
On the Road       1
Identity Thief    1
Name: original_title, Length: 1887, dtype: int64

In [8]:
data.query('original_title in ["Fantastic Four","The Gift"]')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,8/5/2015,4.4,2015
75,tt4178092,5000000,58978653,The Gift,Jason Bateman|Rebecca Hall|Joel Edgerton|David...,Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,Thriller|Mystery,Blumhouse Productions|Blue-Tongue Films|STX En...,7/30/2015,6.6,2015
1322,tt0120667,100000000,330579719,Fantastic Four,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|1492 Pi...,7/7/2005,5.6,2005
1834,tt0219699,10000000,12008642,The Gift,Cate Blanchett|Giovanni Ribisi|Keanu Reeves|Ka...,Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,Horror|Drama|Thriller|Mystery,Lakeshore Entertainment|Alphaville Films,12/22/2000,6.2,2000

Мы удостоверились, что это действительно разные фильмы. Замечательно, можно приступать к предобработке.

# Предобработка

In [9]:
# создадим пустой словарь для хранения наших ответов к викторине
answers = {}
# добавим столбец с прибылью, он нам пригодится
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [10]:
# ну тут все просто: создадим новый датафрейм с фильмом (или фильмами, если у них одинаковый бюджет) с максимальным бюджетом:
data_1 = data[data.budget == data.budget.max()]
display(data_1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [11]:
# фильмом с самым большим бюджетом из списка оказалась четвертая часть пиратов карибского моря
print('Фильм с самым большим бюджетом из списка - "Pirates of the Caribbean: On Stranger Tides"')
# добавим этот ответ в наш словарик:
answers[1] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

Фильм с самым большим бюджетом из списка - "Pirates of the Caribbean: On Stranger Tides"

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# по аналогии с первым вопросом создадим новый датафрейм с фильмом (или фильмами, если у них одинаковая длительность)
# с максимальной длительностью:
data_2 = data[data.runtime == data.runtime.max()]
display(data_2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [13]:
# самым длительным фильмом оказались "Боги и генералы"
print('Самый длительный фильм из списка - "Gods and Generals"')
# также добавим этот ответ в словарь:
answers[2] = 'Gods and Generals (tt0279111)'

Самый длительный фильм из списка - "Gods and Generals"

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
# создадим новый датафрейм с фильмом с минимальной длительностью:
data_3 = data[data.runtime == data.runtime.min()]
display(data_3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [15]:
# самым коротким фильмом оказался диснеевский мультфильм про Винни Пуха
print('Самый короткий фильм из списка - "Winnie the Pooh"')
# не забудем добавить этот ответ в словарь:
answers[3] = 'Winnie the Pooh (tt1449283)'

Самый короткий фильм из списка - "Winnie the Pooh"

# 4. Какова средняя длительность фильмов?

In [16]:
# хоть мы уже знаем среднюю длительность фильма (видели при вызове функции describe()) воспользуемся другой функцией,
# чтобы освежить знания
ans = round(data.runtime.mean(), 0)
print(f'Средняя длительность фильмов из списка - {ans} мин')

Средняя длительность фильмов из списка - 110.0 мин

In [17]:
# добавим ответ в словарь:
answers[4] = ans

# 5. Каково медианное значение длительности фильмов?

In [18]:
# медианное значение мы уже также видели при вызове функции describe()
# воспользуемся еще одной функцией:
ans = data.runtime.median()
print(f'Медианное значение длительности фильмов - {ans} мин')

Медианное значение длительности фильмов - 107.0 мин

In [19]:
# добавим ответ в словарь:
answers[5] = ans

# 6. Какой самый прибыльный фильм?

In [20]:
# вот и пригодился наш столбец с расчитанной прибылью по каждому фильму
# найдем по этому столбцу фильм с максимальной прибылью
data_6 = data[data.profit == data.profit.max()]
display(data_6)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [21]:
# и этим фильмом оказался... (барабанная дробь!!!, та-дам)... - "Аватар" Джеймса Кэмерона!!!'
print('Самый прибыльный фильм - "Avatar"')
# не забываем про наш словарик:
answers[6] = 'Avatar (tt0499549)'

Самый прибыльный фильм - "Avatar"

# 7. Какой фильм самый убыточный?

In [22]:
# найдем по столбцу с прибылью фильм с максимальными убытками:
data_7 = data[data.profit == data.profit.min()]
display(data_7)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [23]:
# самым убыточным фильмом по этому списку оказался "Одинокий рейнджер"
print('Самый убыточный фильм из списка - "The Lone Ranger"')
# хмм, на сайте кинопоиска указано, что фильм совсем не убыточный (кому верить???)
# ответ в словарь:
answers[7] = 'The Lone Ranger (tt1210819)'

Самый убыточный фильм из списка - "The Lone Ranger"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
# создадим новую таблицу, куда включим только те фильмы, у которых кассовые сборы оказались больше заложенного бюджета:
data_8 = data[data.revenue > data.budget]
# узнаем, сколько таких фильмов:
print(len(data_8))

1478

ВАРИАНТ 2

In [25]:
# второй вариант - используем функцию nunique:
ans = data[data.profit > 0]['imdb_id'].nunique()
print(ans)

1478

In [26]:
# судя по данным из списка, около 20% всех фильмов оказались убыточными (но, мы знаем, что на сайте кинопоиска совсем другие данные)
print(f'Объем сборов оказался выше бюджета у {ans} фильмов')
# ответ в словарь:
answers[8] = len(data_8)

Объем сборов оказался выше бюджета у 1478 фильмов

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
# разминка закончилась, дальше вопросы пойдут чуть сложнее (и почему я не удивлен?)
# создадим новый список, куда включим только те фильмы, которые вышли только в 2008 году:
data_9 = data[data.release_year == 2008]
# из нового списка найдет фильм с самым большим кассовым сбором:
data_9 = data_9[data_9.revenue == data_9.revenue.max()]
display(data_9)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [28]:
print('Самый кассовый фильм 2008 года - "The Dark Knight"')
# добавим Бэтмена в словарь к нашим ответам:
answers[9] = 'The Dark Knight (tt0468569)'

Самый кассовый фильм 2008 года - "The Dark Knight"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
# создадим новый список, куда включим только те фильмы, которые вышли в период с 2012 по 2014 г. (включительно):
data_10 = data.query('release_year in [2012, 2013, 2014]')
# найдем самый убыточный фильм из нового списка:
data_10 = data_10[data_10.profit == data_10.profit.min()]
display(data_10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [30]:
# опять "Одинокий рейнджер"
print('Самый убыточный фильм за период с 2012 по 2014 г. (включительно) - "The Lone Ranger"')
# еще раз добавим его в словарик:
answers[10] = 'The Lone Ranger (tt1210819)'

Самый убыточный фильм за период с 2012 по 2014 г. (включительно) - "The Lone Ranger"

# 11. Какого жанра фильмов больше всего?

In [31]:
# создадим копию списка, а то вдруг испортится:
data_11 = data.copy()
# ого! почти у каждого фильма несколько жанров, вот это задачка!
# разделяем жанры в список из каждой ячейки:
data_11['genres'] = data_11.genres.str.split('|')
# разделяем жанры из списка в отдельные строки (увеличиваем наш список: была одна строчка с фильмом с тремя жанрами,
# будет три строчки одного и того же фильма, но в каждой строчке отдельный жанр)
data_11 = data_11.explode('genres')
# теперь без проблем посчитаем, какие жанры нам повстречаются в этом списке и выведем самый популярный:
ans = data_11.genres.value_counts().index[0]
print(f'В списке больше всего фильмов жанра - {ans}')
# добавим в словарь самый популярный жанр (Драма):
answers[11] = ans

В списке больше всего фильмов жанра - Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
# создадим новый список, куда включим только те фильмы, которые принесли прибыль:
data_12 = data.query('revenue > budget').copy()
# разделим жанры:
data_12['genres'] = data_12.genres.str.split('|')
# увеличиваем список за счет разделения жанров в разные строки:
data_12 = data_12.explode('genres')
# выведем самый прибыльный жанр:
ans = data_12.genres.value_counts().index[0]
print(f'Чаще всего становятся прибыльными фильмы жанра {ans}')
# и добавим в наш словарь самый прибыльный жанр (снова драма):
answers[12] = ans

Чаще всего становятся прибыльными фильмы жанра Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
# создаем копию списка:
data_13 = data.copy()
# разделяем режиссеров:
data_13['director'] = data_13.director.str.split('|')
# каждого режиссера - в отдельную строку:
data_13 = data_13.explode('director')
# суммируем каждого режиссера по кассовым сборам:
ans = data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
print(f'Самые большие суммарные кассовые сборы у режиссера {ans}')
# добавляем Питера Джексона с его Хоббитами и Властелинами Колец (и не забываем про Кинг Конга) в словарик:
answers[13] = ans

Самые большие суммарные кассовые сборы у режиссера Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
# тут уже по накатанной - создаем копию списка:
data_14 = data.copy()
# фильтруем по жанру "Action":
data_14 = data_14[data_14.genres.str.contains("Action", na=False)]
# разделяем режиссеров:
data_14['director'] = data_14.director.str.split('|').copy()
# каждого режиссера - в отдельную строку:
data_14 = data_14.explode('director')
# считаем по каждому режиссеру фильмы в жанре "Action", выводим самого популярного:
ans = data_14.groupby(['director'])['genres'].count().sort_values(ascending = False).index[0]
print(f'Больше всего фильмов в стиле Action снял {ans}')
# и добавляем Родригеса в нашу копилочку, тьфу... в словарик:
answers[14] = ans

Больше всего фильмов в стиле Action снял Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
# копируем список:
data_15 = data.copy()
# фильтруем по 2012 году:
data_15 = data_15[data_15.release_year == 2012]
# разделяем актеров:
data_15['cast'] = data_15.cast.str.split('|').copy()
# каждого актера - в отдельную строку:
data_15 = data_15.explode('cast')
# суммируем каждого актера по кассовым сборам и выводим самого поплярного:
ans = data_15.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).index[0]
print(f'Самые высокие кассовые сборы в 2012 году принесли с актером {ans}')
# Кто это? Это Крис Хемсворт собственной персоной. Добавим его в словарик:
answers[15] = ans

Самые высокие кассовые сборы в 2012 году принесли с актером Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
# создаем копию списка:
data_16 = data.copy()
# оставляем в нашем списке только те фильмы, бюджет у которых выше среднего:
data_16 = data_16[data_16.budget > data.budget.mean()]
# разделяем актеров:
data_16['cast'] = data_16.cast.str.split('|').copy()
# каждого актера - в отдельную строку:
data_16 = data_16.explode('cast')
# считаем количество фильмов по каждому актеру:
ans = data_16.cast.value_counts().index[0]
print(f'{ans} снялся в большем количестве высокобюджетных фильмов')
# добавляем Дэймона в словарь:
answers[16] = ans

Matt Damon снялся в большем количестве высокобюджетных фильмов

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
# создаем копию списка:
data_17 = data.copy()
# оставляем в нашем списке только те фильмы, где снимался Николас Кейдж:
data_17 = data_17[data_17.cast.str.contains("Nicolas Cage", na=False)]
# разделяем жанры:
data_17['genres'] = data_17.genres.str.split('|').copy()
# каждый жанр - в отдельную строк:
data_17 = data_17.explode('genres')
# считаем количество жанров:
ans = data_17.genres.value_counts().index[0]
print(f'В фильмах жанра {ans} больше всего снимался Nicolas Cage')
# добавим самый популярный жанр в словарь:
answers[17] = ans

В фильмах жанра Action больше всего снимался Nicolas Cage

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
# создаем копию списка:
data_18 = data.copy()
# оставляем в списке только те фильмы, которые имели какое-либо отношение к компании "Paramount Pictures":
data_18 = data_18[data_18.production_companies.str.contains("Paramount Pictures", na=False)]
# оставим самый убыточный фильм в нашем списке:
data_18 = data_18[data_18.profit == data_18.profit.min()]
display(data_18)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [39]:
print('Самый убыточный фильм от Paramount Pictures - "K-19: The Widowmaker"')
# добавим фильм в словарь:
answers[18] = 'K-19: The Widowmaker (tt0267626)'

Самый убыточный фильм от Paramount Pictures - "K-19: The Widowmaker"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [40]:
# сгруппируем список по суммам кассовых сборов по годам
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
# кассовые сборы растут с каждым годом, добавим ответ в словарь:
ans = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]
print(f'{ans} год стал самым успешным по суммарным кассовым сборам')
answers[19] = ans

2015 год стал самым успешным по суммарным кассовым сборам

# 20. Какой самый прибыльный год для студии Warner Bros?

In [41]:
# создаем копию списка:
data_20 = data.copy()
# оставляем в списке только те фильмы, которые имели какое-либо отношение к компании "Warner Bros":
data_20 = data_20[data_20.production_companies.str.contains("Warner Bros", na=False)]
# отсортируем по годам и суммарной прибылью за каждый год
ans = data_20.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]
print(f'{ans} год - самый прибыльный год для студии Warner Bros')
# добавим в словарь самый прибыльный 2014 год для студии:
answers[20] = ans

2014 год - самый прибыльный год для студии Warner Bros

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [42]:
# создаем копию списка:
data_21 = data.copy()
# Указываем модулю datetime, в каком формате задана дата в столбце release_date:
data_21.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y'))
# Оставляем только название месяца:
data_21.release_date = data_21.release_date.apply(lambda x: x.strftime('%B'))
# сортируем по месяцам и кол-ву фильмов:
ans = data_21.release_date.value_counts().index[0]
print(f'За все годы суммарно вышло больше всего фильмов в месяце {ans}')
# добавляем в словарь месяц, в котором вышло больше всего фильмов за рассматриваемый промежуток:
answers[21] = ans

За все годы суммарно вышло больше всего фильмов в месяце September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [43]:
# создаем копию списка:
data_22 = data.copy()
# Указываем модулю datetime, в каком формате задана дата в столбце release_date:
data_22.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y'))
# Оставляем только название месяца:
data_22.release_date = data_22.release_date.apply(lambda x: x.strftime('%B'))
# Подсчитываем фильмы в летние месяцы:
ans = data_22.query('release_date in ["June", "July", "August"]').shape[0]
print(f'Летом суммарно вышло фильмов в количестве {ans} шт.')
answers[22] = ans

Летом суммарно вышло фильмов в количестве 450 шт.

# 23. Для какого режиссера зима – самое продуктивное время года?

In [44]:
# создаем копию списка:
data_23 = data.copy()
# Указываем модулю datetime, в каком формате задана дата в столбце release_date:
data_23.release_date = data.release_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%Y'))
# Оставляем только название месяца:
data_23.release_date = data_23.release_date.apply(lambda x: x.strftime('%B'))
# Оставляем только зимное месяцы:
data_23 = data_23.query('release_date in ["December", "January", "February"]')
# разделяем режиссеров:
data_23['director'] = data_23.director.str.split('|').copy()
# добавляем каждого режиссера в отдельную строку:
data_23 = data_23.explode('director')
# подсчитываем количество фильмов для каждого режиссера:
ans = data_23.groupby(['director'])['imdb_id'].count().sort_values(ascending = False).index[0]
print(f'Зима – самое продуктивное время года для режиссера {ans}')
answers[23] = ans

Зима – самое продуктивное время года для режиссера Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [45]:
# создаем копию списка:
data_24 = data.copy()
# разделяем студии:
data_24['production_companies'] = data_24.production_companies.str.split('|')
# разделяем студии в отдельные строки:
data_24 = data_24.explode('production_companies')
# формируем новый столбец с длиной названия фильма
data_24['len_title'] = data_24['original_title'].apply(len)
# группируем по студиям с подсчетом средней длины, сортируем по убыванию и оставляем первую строку для ответа
ans = data_24.groupby(['production_companies'])['len_title'].mean().sort_values(ascending=False).index[0]
print(f'{ans} студия дает самые длинные названия своим фильмам по количеству символов')
answers[24] = ans

Four By Two Productions студия дает самые длинные названия своим фильмам по количеству символов

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [46]:
# создаем копию списка:
data_25 = data.copy()
# разделяем студии:
data_25['production_companies'] = data_25.production_companies.str.split('|')
# разделяем студии в отдельные строки:
data_25 = data_25.explode('production_companies')
# формируем новый столбец с длиной описания фильма по количеству слов(ищем по количеству пробелов между словами)
data_25['len_overview'] = data_25['overview'].apply(lambda x:len(x.split(' ')))
# группируем по студиям с подсчетом средней длины, сортируем по убыванию и оставляем первую строку для ответа
ans = data_25.groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False).index[0]
print(f'Описание фильмов студии {ans} в среднем самые длинные по количеству слов')
answers[25] = ans

Описание фильмов студии Midnight Picture Show в среднем самые длинные по количеству слов

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [47]:
# создаем копию списка:
data_26 = data.copy()
# оставляем в нашем списке только 1 процент лучших по рейтингу:
data_26 = data_26[data_26['vote_average'] > data_26['vote_average'].quantile(q = 0.99)]
ans = ['Inside Out',
       'Room',
       'Interstellar',
       'Guardians of the Galaxy',
       'The Imitation Game',
       'Gone Girl',
       'The Grand Budapest Hotel',
       'Inception',
       'The Dark Knight',
       'The Pianist',
       'The Lord of the Rings: The Return of the King',
       'The Wolf of Wall Street',
       '12 Years a Slave',
       'Memento']
print('В 1 процент лучших по рейтингу входят фильмы: ', end='')
print(*ans, sep=', ')
answers[26] = ans

В 1 процент лучших по рейтингу входят фильмы: Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [48]:
# создаем пустой словарь при помощи модуля collections:
pairs = collections.Counter()
for i in range(len(data)):
    # из каждого фильма собираем список актеров:
    artists = data.cast[i].split('|')
    for j in list(itertools.combinations(artists, 2)):
        # в списке актеров, соберем пары для каждого актера друг с другом:
        # если такой пары в нашем словаре еще нет:
        if j not in pairs:
            # добавляем пару и присваиваем этой паре значение 1(вместе снимаются в фильме)
            pairs[j] = 1
        # если пара существует:
        else:
            # увеличиваем количество фильмов на 1
            pairs[j] += 1
# в ответе выведем 5 пар, которые чаще всего снимаются вместе:
ans = pairs.most_common(5)
print('Список актеров, которые чаще всего снимаются в одном фильме вместе:', *ans)
answers[27] = ans

Список актеров, которые чаще всего снимаются в одном фильме вместе: (('Daniel Radcliffe', 'Rupert Grint'), 8) (('Daniel Radcliffe', 'Emma Watson'), 8) (('Rupert Grint', 'Emma Watson'), 7) (('Ben Stiller', 'Owen Wilson'), 6) (('Johnny Depp', 'Helena Bonham Carter'), 6)

In [49]:
# 2 вариант
def permute (lst):
    """
    Вычисляет комбинаторное число размещений A из N элементов по 2:
    A = N! / (N - 2)! или A = N * (N - 1)
    Вход: актёрский состав данного фильма, имена актёров разделены символом "|"
    Выход: Список списков. Внутренние списки - имена пар актёров.
    """
    lst = lst.split('|')
    abc = []
    for name1 in lst:
        for name2 in lst:
            if name1 == name2 : continue
            abc += [[name1, name2]]
    return abc

cols = ['original_title', 'cast']
df = data[cols].copy()
# Используем пользовательскую функцию "permute", которая "эмулирует" работу
# функции "permutations" модуля itertools:
df.cast = df.cast.apply(permute)
df = df.explode('cast')
display(df.cast.value_counts().head(7))
# Ответ на Вопрос 27:
name1, name2 = df.cast.value_counts().index[0]
name12, name22 = df.cast.value_counts().index[1]
print(f'Чаще всего в одном фильме снимается пара {name1} & {name2},')
print(f'а также - пара {name12} & {name22}.')

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Emma Watson, Rupert Grint]         8
[Daniel Radcliffe, Rupert Grint]    8
[Daniel Radcliffe, Emma Watson]     8
[Emma Watson, Daniel Radcliffe]     8
[Rupert Grint, Emma Watson]         8
[Rupert Grint, Daniel Radcliffe]    8
[Owen Wilson, Ben Stiller]          6
Name: cast, dtype: int64

KeyboardInterrupt:

# Submission

In [50]:
answers

{1: 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 2: 'Gods and Generals (tt0279111)',
 3: 'Winnie the Pooh (tt1449283)',
 4: 110.0,
 5: 107.0,
 6: 'Avatar (tt0499549)',
 7: 'The Lone Ranger (tt1210819)',
 8: 1478,
 9: 'The Dark Knight (tt0468569)',
 10: 'The Lone Ranger (tt1210819)',
 11: 'Drama',
 12: 'Drama',
 13: 'Peter Jackson',
 14: 'Robert Rodriguez',
 15: 'Chris Hemsworth',
 16: 'Matt Damon',
 17: 'Action',
 18: 'K-19: The Widowmaker (tt0267626)',
 19: 2015,
 20: 2014,
 21: 'September',
 22: 450,
 23: 'Peter Jackson',
 24: 'Four By Two Productions',
 25: 'Midnight Picture Show',
 26: ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 27: [(('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Daniel Radcliffe', 'Emma Watson'), 8),
  (('Rupert Grint', 'Emma Watson'), 7),
  (('Ben Stiller', 'Owen Wilson'), 6),
  (('Johnny Depp', 'Helena Bonham Carter'), 6)]}

In [51]:
len(answers)

27